* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Trebuchet MS", Arial, sans-serif;
    list-style-type: none;
}

body {
    background-color: #fffcf2;
    font-size: 1rem;
}

nav {
    display: flex;
    background-color: #ccc5b9;
    margin-bottom: 80px;
}

a {
    color: #000;
    text-decoration: none;
}

.content1,
.content2 {
    display: flex;
    margin: 0 auto;
    justify-content: center;

}

.sect1-content,
.sect2-content {
    margin: 30px 0;
    padding: 30px;
    flex-direction: column;
    background-color: rgb(204, 197, 185);
    width: 20%;
    border-radius: 1em;
}

.sq-img {
    padding: 10px 20px;
    width: 250px;
    transition: .5s;
}

.sq-img:hover {
    width: 280px;
    border-radius: 50%;
}

.kodego2 {
    padding: 10px 20px;
    width: 320px;
    transition: 3s;
}

.kodego2:hover {
    transform: rotateY(360deg);
}