* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    /* font-family: 'Ubuntu', sans-serif; */
    font-family: 'Roboto', sans-serif;
}

.navbar-top {
    display: flex;
    padding: .5rem;
    gap: 3rem;
}

.links {
    display: flex;
    align-items: center;
    gap: 3rem;
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

a:hover {
    color: #f77f00;
}

.hero {
    background-color: #161616;
    background-image: url("images/jared-brashier-6WPcf5D1XdA-unsplash.jpg");
    background-size: cover;
    color: #fff;
    height: 100vh;
}

.hero-text {
    font-size: 1.5rem;
    padding: 275px 2rem;
}

.pages {
    margin-left: 22rem;
    display: flex;
    gap: 1rem;
    padding: 1rem 2rem;
}

.name {
    font-size: 3.5rem;
}

@media (max-width: 420px) {
    .links {
        gap: 1rem;
    }

    .hero-text {
        font-size: 1rem;
    }

    .pages {
        margin: 0;
        justify-content: center;
    }

    .about-me {
        flex-direction: column;
    }

    .about-me img {
        flex-grow: 1;
        width: 200px;
    }
}

@media (max-width: 810px) {

    .pages {
        margin: 0;
        padding-left: 0;
        justify-content: flex-start;
    }

    .about-me img {
        width: 250px;
    }
    .about-cont {
        font-size: 1rem;
    }
}

.about-me {
    padding-top: 3rem;
    display: flex;
    justify-content:center;
    align-items: center;
    font-size: 1.2rem;
}

.about-me img {
    border-radius: 20rem;
    padding: 2rem;
}

.about-cont {
    padding: 2rem;
}

.bottom {
    padding-bottom: 1.2rem;
    display: flex;
    justify-content: center;
    gap: 2rem;
}